.btn-outline-danger {
    color: #dc3545;
    background-color: #ffe6e6;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}